# Build artifacts
/target
**/target/
.env

# Rust tooling
**/*.rs.bk
/.cargo/
# Package managers & metadata
node_modules/

# Terraform state
*.tfstate
*.tfstate.*
.crash*
.terraform/
.terraform.tfstate*

# Editor & OS files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Logs & coverage
*.log
coverage/

